<div fxLayoutAlign="center" class="title">KitchenRescue</div>
<p class="line-1 anim-typewriter">Delicious meals from all corners of your fridge</p>
  <!-- <div fxLayoutAlign="center center"><mat-form-field appearance="fill">
    <input matInput type="text" placeholder="Start typing your ingredients"/>
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field></div> -->

<div class="container">
  <form action="" class="search-bar">
    <input type="text" placeholder="Start typing your ingredients" name="search">
    <button type="submit"><img src="../assets/search.png"></button>
  </form>
</div>