/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
.title {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  font-family: Georgia, 'Georgia', serif;
  padding-bottom: 2vh;
  color: white;
}
.container {
  width: 100%;
  min-height: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar {
  width: 100%;
  max-width: 600px;
  background-color: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #ffffff;
}
::placeholder {
  color: rgb(239, 233, 233);
}

.search-bar button img {
  width: 25px;
}
.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #c2c2c2;
  cursor: pointer;
}

html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  background-color: rgb(255, 255, 255);
}
.line-1{
    position: relative;
    top: 100%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 120%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
    color:rgb(255, 255, 255);  
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 450ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 20.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255, 255, 255, 1);}
  to{border-right-color: transparent;}
}