/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
.title {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  font-family: Georgia, 'Georgia', serif;
  padding-bottom: 2vh;
  color: white;
}
.container {
  width: 100%;
  min-height: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar {
  width: 100%;
  max-width: 600px;
  background-color: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #ffffff;
}
::placeholder {
  color: rgb(239, 233, 233);
}

.search-bar button img {
  width: 25px;
}
.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #c2c2c2;
  cursor: pointer;
}

html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  background-color: rgb(255, 255, 255);
}
.line-1{
    position: relative;
    top: 100%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 120%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
    color:rgb(255, 255, 255);  
}
.line-2{
  position: relative;
  top: 100%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 120%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  
  color:rgb(255, 255, 255);
  margin-top: 20px;  
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 450ms steps(44) infinite normal;
}
.anim-typewriter2{
  animation: typewriter2 3s steps(36) 1s 1 normal both,
             blinkTextCursor 350ms steps(36) infinite normal;
}
@keyframes typewriter2{
  from{width: 0;}
  to{width: 17em;}
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 20.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255, 255, 255, 1);}
  to{border-right-color: transparent;}
}
.shopping-list-container {
  width: 400px;
  border: 3px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 50px auto;
  text-align: center;
  animation: fadeIn 3s;
  animation-delay: 4.5s; /* Delay of 1 second */
  opacity: 0;
  animation-fill-mode: forwards; /* Retain final state after animation finishes */
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
  font-family: Georgia, 'Georgia', serif;
  color: white;

}
.shopping-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.shopping-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.shopping-list-item input[type="checkbox"] {
  margin-right: 10px;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.shopping-list-item input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #26ae60;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.shopping-list-item input[type="checkbox"]:checked:before {
  opacity: 1;
}

.shopping-list-item label {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  cursor: pointer;
}
