<div class="navbar" *ngIf="!isLoggedIn">
  <div class="link logo" (click)="clickButton('')"><img
    width="200"
    alt="KitchenRescue Logo"
    src="./assets/logo-white.png"
  />
</div>
  <p class="right-link" (click)="clickButton('/login')">Login</p>
  <p class="right-link" (click)="clickButton('/register')">Register</p>
</div>
<div class="navbar" *ngIf="isLoggedIn">
  <div><img
    width="45"
    alt="KitchenRescue Logo"
    src="./assets/logo-white.png"
  />
  </div>
  <p class="right-link">Log Out</p>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>