.container {
    margin: 48px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.navbar {
    background-color: #5e9b81;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

.link:first-of-type {
    margin-left: 32px;
    margin-right: 32px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 14pt;
    cursor: pointer;
}

.right-link:first-of-type {
    margin-left: auto;
    margin-right: 32px;
}

.right-link {
    margin-right: 32px;
    color: white;
    text-decoration: none;
    font-size: 14pt;
    cursor: pointer;
}