.container {
    width: 350px;
    height: 360px;
    margin: 0 auto;
    border-radius: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: white;
}

.login-form {
    padding: 10px;
}

.hyperlink {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}

button {
    color: white;
    background-color: #5e9b81;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    align-self: center;
    cursor: pointer;
}

h1 {
    color: darkgreen;
}