<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="30">
        <mat-toolbar>Login Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password">
              </mat-form-field>
              <button mat-raised-button type="submit">Log In</button>
          </form>
        </mat-card>
</div>