<div class="container" fxLayoutAlign="center center" fxLayout="column">
        <h1>Log In</h1>
        <form fxLayout="column" class="login-form">
            <mat-form-field>
              <input [(ngModel)]="loginUserData.user" 
              name="username" 
              matInput type="text" 
              placeholder="Username">
            </mat-form-field>
            <mat-form-field>
                <input [(ngModel)]="loginUserData.password" 
                name="password" 
                matInput type="password" 
                placeholder="Password"
                class="form-control"
                formControlName="password"
                [ngClass]="{'is-invalid': submitted && f.password.errors}"
                id="inputPassword4">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback"></div>
              </mat-form-field>
              <div *ngIf="invalid" class="invalid-feedback">Invalid username or password</div>
              <button (click)="loginUser()" type="submit">Log In</button>
          </form>
          <p class="hyperlink" (click)="redirect()">First time at KitchenRescue?</p>
</div>