.main-div mat-card {
    padding: 10px;
    border-radius: 10px;
}

.container {
    width: 550px;
    height: 460px;
    margin: 0 auto;
    border-radius: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: white;
}

.main-div mat-toolbar {
    background-color: #5e9b81;
    color: white;
    text-align: center;
}

.register-form {
    padding: 10px;
}

.field {
    width: 420px;
}

button {
    color: white;
    background-color: #5e9b81;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    align-self: center;
}

h1 {
    color: darkgreen;
}